version: "3.9"

services:
  db:
    image: postgres:15
    container_name: info_map_db
    restart: always
    environment:
      POSTGRES_DB: info_map
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    env_file:
      - app/.env_template
    container_name: info_map_backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:
